In [28]:
import pandas as pd

def open_csv_as_dataframe(csv_file_path):
    try:
        dataframe = pd.read_csv(csv_file_path)
        return dataframe
    except FileNotFoundError:
        print(f"File '{csv_file_path}' not found.")

In [29]:
dataframe = pd.read_csv("/Users/martina/Downloads/concept_map-experiments/src/output_mds/evaluation_csv/metrics.csv")

In [30]:
dataframe

                      File    METEOR   ROUGE-1   ROUGE-2   ROUGE-L
0   1018-joint_summary.txt  0.161185  0.301038  0.017361  0.159170
1   1030-joint_summary.txt  0.127451  0.232558  0.010772  0.100179
2   1004-joint_summary.txt  0.102435  0.166320  0.004175  0.095634
3   1028-joint_summary.txt  0.141580  0.175041  0.016260  0.077796
4   1032-joint_summary.txt  0.107265  0.168103  0.012987  0.086207
5   1040-joint_summary.txt  0.000000  0.000000  0.000000  0.000000
6   1023-joint_summary.txt  0.000000  0.000000  0.000000  0.000000
7   1013-joint_summary.txt  0.000000  0.000000  0.000000  0.000000
8   1027-joint_summary.txt  0.159817  0.250000  0.020243  0.096774
9   1044-joint_summary.txt  0.099483  0.177515  0.003960  0.082840
10  1024-joint_summary.txt  0.000000  0.000000  0.000000  0.000000
11  1047-joint_summary.txt  0.000000  0.000000  0.000000  0.000000
12  1043-joint_summary.txt  0.131040  0.185958  0.011429  0.087287
13  1046-joint_summary.txt  0.000000  0.000000  0.000000  0.000000
14  1008-joint_summary.txt  0.000000  0.000000  0.000000  0.000000

In [31]:
df2 = dataframe['METEOR'].sum()

In [32]:
df2

1.0302561685452705

In [33]:
df3 = dataframe['ROUGE-1'].sum()

In [34]:
df3

1.6565333822220807

In [35]:
df4 = dataframe['ROUGE-2'].sum()

In [36]:
df4

0.0971875273108213

In [37]:
df5 = dataframe['ROUGE-L'].sum()

In [38]:
df5

0.7858861770459926